$text-color: #6B6B6C;
$title-color: #363738;
$primary-color: #0B7572;
$accent-color: #FFCE50;
$border-color: #D7D7DD;

$table-border-color: #E9EAF2;
$table-background-color: #F9F9FB;
$button-background-color: #FF9619;